body{
    background: #fceabb;  
    background: -webkit-linear-gradient(to right, #f8b500, #fceabb);  
    background: linear-gradient(to right, #f8b500, #fceabb);
    
}
.container{
    background: #e1eec3; 
    background: -webkit-linear-gradient(to right, #f05053, #e1eec3);  
    background: linear-gradient(to right, #f05053, #e1eec3); 
    border: 5px solid black;
    height: 400px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.topleft{
    position: absolute;
	top: 0;
    left: 0;
    margin: 5px;
}
.topright{
    position: absolute;
	top: 0;
    right: 0%;
    margin: 5px;
}
 .center{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%   
} 
.bottomleft{
    position: absolute;
	bottom: 0%;
    left: 0;
    margin: 5px;
} 
.bottomright{
    bottom: 0;
	right: 0;
    position: absolute;
    margin: 5px;
}