 .container{
    position: absolute;
    top: 25%;
    margin-left: 5%;
}
.container-2{
    position: absolute;
    border: solid 2px rgb(97, 3, 3);  
    padding: 10px;
    top: 8%;
    margin-left: 5%
} 
body {
    background: #fceabb;  
    background: -webkit-linear-gradient(to right, #f8b500, #fceabb);  
    background: linear-gradient(to right, #f8b500, #fceabb);
}
h2{
   font-family: cursive;
   padding: 5px;
   margin: auto;
   margin-left: 80px;
   color: black;
}
#myInput{
    margin: 10px;
    margin-left: 10px;
}
.Add{
    position: relative;
    width: 393px;
}
table, td, th {
    border: 1px solid black;
  }
  
  table {
    width: 50%;
    border-collapse: collapse;
  }
  th, td{
      padding: 5px;
  }